@font-face {
    font-family: "Leitura News";
    src: url("fonts/leitura-news-roman.woff") format("woff"),
         url("fonts/leitura-news-roman.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: "Leitura News";
  src: url("fonts/leitura-news-italic.woff") format("woff"),
       url("fonts/leitura-news-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
    font-family: "Leitura News SC";
    src: url("fonts/leitura-news-roman-sc.woff") format("woff"),
         url("fonts/leitura-news-roman-sc.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
