epub-hyphens()
  -epub-hyphens: arguments;
  -webkit-hyphens: arguments;
  -moz-hyphens: arguments;
  hyphens: arguments;

text-size-adjust()
  -ms-text-size-adjust: arguments;
  -webkit-text-size-adjust: arguments;

font-feature-settings()
  -webkit-font-feature-settings: arguments;
  -moz-font-feature-settings: arguments;
  -ms-font-feature-settings: arguments;
  -o-font-feature-settings: arguments;
  font-feature-settings: arguments;

hyphens()
  -webkit-hyphens: arguments;
  -moz-hyphens: arguments;    
  hyphens: arguments;
