@charset "utf-8";
@namespace
  epub "http://www.idpf.org/2007/ops";

$text-color = #000;
$font-family-serif = "Leitura News", Georgia;
$font-size-base = 1.3125em;

@import "_font-face";
@import "_vendor";
@import "_normalise";


body
  font-family: $font-family-serif;
  font-feature-settings: "onum", "liga", "kern";
  font-size: $font-size-base / 1.5;
  line-height: 1.5;
  max-width: 24rem * 1.5;
  margin: 2em auto;
  text-rendering: optimizeLegibility;
  color: $text-color;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // -webkit-font-smoothing: antialiased;
  @media (min-width: 24rem)
    font-size: $font-size-base;

h1,
h2,
h3
  font-feature-settings: "onum", "liga", "dlig", "calt", "swsh", "kern"

sup
  font-feature-settings: "tnum", "lnum", "liga", "sups", "kern"

sub
  font-feature-settings: "tnum", "lnum", "liga", "subs", "kern"

abbr, .sc
  font-family: "Leitura News SC"

@css {
  @supports ((-webkit-font-feature-settings: "smcp" and -webkit-font-feature-settings: "c2sc") or (-moz-font-feature-settings: "smcp" and -moz-font-feature-settings: "c2sc") or (font-feature-settings: "smcp" and font-feature-settings: "c2sc")) {
    abbr, .sc {
      font-family: $font-family-serif;
      -webkit-font-feature-settings: "smcp", "c2sc", "liga", "case", "kern";
      -moz-font-feature-settings: "smcp", "c2sc", "liga", "case", "kern";
      font-feature-settings: "smcp", "c2sc", "liga", "case", "kern";
    }
  }
}

a
  color: inherit
  text-decoration: none
// Superscript Note references
a[epub|type~="noteref"]
  &:after
    line-height: normal;
    // Hard-coded right now, but could either come from a data-attribute
    // after iterating over the _data.json, or could be a CSS counter
    content: "1";
    vertical-align: super;
    display: inline
    color: $text-color
    font-feature-settings: "onum", "pnum";

@css {
  @supports ((-webkit-font-feature-settings: "sups") or (-moz-font-feature-settings: "sups") or (font-feature-settings: "sups")) {
    a[epub|type~="noteref"]:after {
      font-family: $font-family-serif;
      vertical-align: baseline;
      -webkit-font-feature-settings: "onum", "pnum", "sups";
      -moz-font-feature-settings: "onum", "pnum", "sups";
      font-feature-settings: "onum", "pnum", "sups";
    }
  }
}

// Set the minimum amount of lines to show up on a seperate page.
// (There is not much support for this at the moment.)
p,
blockquote
  orphans: 2;
  widows: 2;
  hyphens: none;

// Turn on hyphenation for captions only.
figcaption
  hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;

// Shortcodes for page-break rules.
// Use data attributes to designate if and how the page should be broken before, inside or after an element.
h1, h2, h3, h4, h5, h6,
table, img, figure, video,
[data-page-break~=inside][data-page-break~=avoid]
  page-break-inside: avoid;

[data-page-break~=after]
  page-break-after: always;

.chap,
[data-page-break~=before]
  page-break-before: always;

h1, h2, h3, h4, h5, h6,
[data-page-break~=after][data-page-break~=avoid]
  page-break-after: avoid;

[data-page-break~=before][data-page-break~=avoid]
  page-break-before: avoid;

img[data-page-break~=before]
  page-break-before: left;

.chap
  margin-bottom: 5em;

  h1
    font-size: 2.125rem;
    margin-bottom: 1.25em;
  > p:first-of-type
    line-height: 1.33;
    font-size: 1.125em;
    &:first-line
      // font-size: 1.25em;
      // @extend .sc
  p
    margin: 0;
    text-indent: 1.5em;

.chap-num
  display: block;
  width: 100%;
  text-indent: 1.5em;
  margin-bottom: 0.5em;
  font-size: 1.125em;
  @extend .sc