!!!xml
html(xmlns='http://www.w3.org/1999/xhtml', xmlns:epub='http://www.idpf.org/2007/ops', xml:lang="#{ lang }", lang="#{ lang }")
  head
    meta(charset='utf-8')
    title= title
    link(href='../css/main.css', rel='stylesheet')
  body
    != yield