img(id="inside-image", alt="#{ title } inside cover", src="../images/inside.jpg")
nav(epub:type="toc")
  h1#nav-title Table of Contents
  ol
    li
      a(href="content.html#p1") Part 1
      ol
        li: a(href="content.html#c1") Chapter 1
        li: a(href="content.html#c2") Chapter 2